.main {
  background-image: url(../static/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.popUp {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.popUp video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


